### mobile_percent table 생성

In [8]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
os.chdir('E:\\엠브레인')
md = pd.read_csv('mpd.csv')
female = md[md.X0001==2]
male = md[md.X0001==1]
print(len(female), len(male))
teen = md[md.X0002==1]
twen = md[md.X0002==2]
thir = md[md.X0002==3]
four = md[md.X0002==4]
fif = md[md.X0002==5]
six = md[md.X0002==6]
print(len(teen), len(twen), len(thir), len(four), len(fif), len(six))
fm10 = female[female.X0002==1]
fm20 = female[female.X0002==2]
fm30 = female[female.X0002==3]
fm40 = female[female.X0002==4]
fm50 = female[female.X0002==5]
fm60 = female[female.X0002==6]
m10 = male[male.X0002==1]
m20 = male[male.X0002==2]
m30 = male[male.X0002==3]
m40 = male[male.X0002==4]
m50 = male[male.X0002==5]
m60 = male[male.X0002==6]
print(len(fm10), len(fm20), len(fm30), len(fm40), len(fm50), len(fm60))
print(len(m10), len(m20), len(m30), len(m40), len(m50), len(m60))

73403 42451
8309 41035 37576 20621 6730 1583
4446 29213 24562 11222 3332 628
3863 11822 13014 9399 3398 955

In [9]:
#모바일게임하는 여자
mobile_fm = female[female['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_fm_num = len(mobile_fm)
print(mobile_fm_num)

#게임 카테고리 별 경험 비율
mobile_fm_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_fm[cat]))/mobile_fm_num*100), '%')
    mobile_fm_df[cat] = round(sum(list(mobile_fm[cat]))/mobile_fm_num, 2)*100

genre = list(mobile_fm_df.keys())
fm = list(mobile_fm_df.values())
fm_mobile = pd.DataFrame({'mobile_genre': genre, 'female_percent':fm})
fm_mobile['mobile_genre'] = mobile_name
fm_mobile

8 8
40147
K0034 : 18 %
K_action : 5 %
K0037 : 4 %
K0038 : 11 %
K0039 : 65 %
K0040 : 25 %
K0041 : 31 %
K0042 : 17 %

  mobile_genre  female_percent
0         롤플레잉            18.0
1           액션             5.0
2          스포츠             4.0
3         전략시뮬            11.0
4        퍼즐/보드            65.0
5         아케이드            25.0
6       캐주얼 게임            31.0
7          카지노            17.0

In [30]:
#모바일게임하는 남자
mobile_m = male[male['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_m_num = len(mobile_m)
print(mobile_m_num)

#게임 카테고리 별 경험 비율
mobile_m_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_m[cat]))/mobile_m_num*100), '%')
    mobile_m_df[cat] = round(sum(list(mobile_m[cat]))/mobile_m_num, 2)*100

genre = list(mobile_m_df.keys())
m = list(mobile_m_df.values())
m_mobile = pd.DataFrame({'mobile_genre': genre, 'male_percent':m})
m_mobile['mobile_genre'] = mobile_name
m_mobile

8 8
26743
K0034 : 41 %
K_action : 14 %
K0037 : 26 %
K0038 : 29 %
K0039 : 41 %
K0040 : 20 %
K0041 : 12 %
K0042 : 20 %

  mobile_genre  male_percent
0         롤플레잉          41.0
1           액션          14.0
2          스포츠          26.0
3         전략시뮬          29.0
4        퍼즐/보드          41.0
5         아케이드          20.0
6       캐주얼 게임          12.0
7          카지노          20.0

In [31]:
#모바일게임하는 10대
mobile_10 = teen[teen['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_10_num = len(mobile_10)
print(mobile_10_num)

#게임 카테고리 별 경험 비율
mobile_10_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_10[cat]))/mobile_10_num*100), '%')
    mobile_10_df[cat] = round(sum(list(mobile_10[cat]))/mobile_10_num, 2)*100

genre = list(mobile_10_df.keys())
tn = list(mobile_10_df.values())
tn_mobile = pd.DataFrame({'mobile_genre': genre, '10_percent':tn})
tn_mobile['mobile_genre'] = mobile_name
tn_mobile

8 8
5935
K0034 : 24 %
K_action : 17 %
K0037 : 17 %
K0038 : 29 %
K0039 : 48 %
K0040 : 35 %
K0041 : 30 %
K0042 : 9 %

  mobile_genre  10_percent
0         롤플레잉        24.0
1           액션        17.0
2          스포츠        17.0
3         전략시뮬        29.0
4        퍼즐/보드        48.0
5         아케이드        35.0
6       캐주얼 게임        30.0
7          카지노         9.0

In [32]:
#모바일게임하는 20대
mobile_20 = twen[twen['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_20_num = len(mobile_20)
print(mobile_20_num)

#게임 카테고리 별 경험 비율
mobile_20_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_20[cat]))/mobile_20_num*100), '%')
    mobile_20_df[cat] = round(sum(list(mobile_20[cat]))/mobile_20_num, 2)*100

genre = list(mobile_20_df.keys())
tw = list(mobile_20_df.values())
tw_mobile = pd.DataFrame({'mobile_genre': genre, '20_percent':tw})
tw_mobile['mobile_genre'] = mobile_name
tw_mobile

8 8
26782
K0034 : 28 %
K_action : 9 %
K0037 : 11 %
K0038 : 18 %
K0039 : 57 %
K0040 : 29 %
K0041 : 31 %
K0042 : 15 %

  mobile_genre  20_percent
0         롤플레잉        28.0
1           액션         9.0
2          스포츠        11.0
3         전략시뮬        18.0
4        퍼즐/보드        57.0
5         아케이드        29.0
6       캐주얼 게임        31.0
7          카지노        15.0

In [33]:
#모바일게임하는 30대
mobile_30 = thir[thir['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_30_num = len(mobile_30)
print(mobile_30_num)

#게임 카테고리 별 경험 비율
mobile_30_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_30[cat]))/mobile_30_num*100), '%')
    mobile_30_df[cat] = round(sum(list(mobile_30[cat]))/mobile_30_num, 2)*100

genre = list(mobile_30_df.keys())
th = list(mobile_30_df.values())
th_mobile = pd.DataFrame({'mobile_genre': genre, '30_percent':th})
th_mobile['mobile_genre'] = mobile_name
th_mobile

8 8
21635
K0034 : 32 %
K_action : 7 %
K0037 : 14 %
K0038 : 17 %
K0039 : 57 %
K0040 : 19 %
K0041 : 20 %
K0042 : 19 %

  mobile_genre  30_percent
0         롤플레잉        32.0
1           액션         7.0
2          스포츠        14.0
3         전략시뮬        17.0
4        퍼즐/보드        57.0
5         아케이드        19.0
6       캐주얼 게임        20.0
7          카지노        19.0

In [34]:
#모바일게임하는 40대
mobile_40 = four[four['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_40_num = len(mobile_40)
print(mobile_40_num)

#게임 카테고리 별 경험 비율
mobile_40_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_40[cat]))/mobile_40_num*100), '%')
    mobile_40_df[cat] = round(sum(list(mobile_40[cat]))/mobile_40_num, 2)*100

genre = list(mobile_40_df.keys())
fo = list(mobile_40_df.values())
fo_mobile = pd.DataFrame({'mobile_genre': genre, '40_percent':fo})
fo_mobile['mobile_genre'] = mobile_name
fo_mobile

8 8
9969
K0034 : 22 %
K_action : 5 %
K0037 : 13 %
K0038 : 17 %
K0039 : 52 %
K0040 : 14 %
K0041 : 8 %
K0042 : 26 %

  mobile_genre  40_percent
0         롤플레잉        22.0
1           액션         5.0
2          스포츠        13.0
3         전략시뮬        17.0
4        퍼즐/보드        52.0
5         아케이드        14.0
6       캐주얼 게임         8.0
7          카지노        26.0

In [35]:
#모바일게임하는 50대
mobile_50 = fif[fif['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_50_num = len(mobile_50)
print(mobile_50_num)

#게임 카테고리 별 경험 비율
mobile_50_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_50[cat]))/mobile_50_num*100), '%')
    mobile_50_df[cat] = round(sum(list(mobile_50[cat]))/mobile_50_num, 2)*100

genre = list(mobile_50_df.keys())
fi = list(mobile_50_df.values())
fi_mobile = pd.DataFrame({'mobile_genre': genre, '50_percent':fi})
fi_mobile['mobile_genre'] = mobile_name
fi_mobile

8 8
2206
K0034 : 10 %
K_action : 3 %
K0037 : 9 %
K0038 : 8 %
K0039 : 49 %
K0040 : 9 %
K0041 : 6 %
K0042 : 37 %

  mobile_genre  50_percent
0         롤플레잉        10.0
1           액션         3.0
2          스포츠         9.0
3         전략시뮬         8.0
4        퍼즐/보드        49.0
5         아케이드         9.0
6       캐주얼 게임         6.0
7          카지노        37.0

In [36]:
#모바일게임하는 60대
mobile_60 = six[six['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_60_num = len(mobile_60)
print(mobile_60_num)

#게임 카테고리 별 경험 비율
mobile_60_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_60[cat]))/mobile_60_num*100), '%')
    mobile_60_df[cat] = round(sum(list(mobile_60[cat]))/mobile_60_num, 2)*100

genre = list(mobile_60_df.keys())
si = list(mobile_60_df.values())
si_mobile = pd.DataFrame({'mobile_genre': genre, '60_percent':si})
si_mobile['mobile_genre'] = mobile_name
si_mobile

8 8
363
K0034 : 9 %
K_action : 4 %
K0037 : 12 %
K0038 : 7 %
K0039 : 43 %
K0040 : 6 %
K0041 : 6 %
K0042 : 47 %

  mobile_genre  60_percent
0         롤플레잉         9.0
1           액션         4.0
2          스포츠        12.0
3         전략시뮬         7.0
4        퍼즐/보드        43.0
5         아케이드         6.0
6       캐주얼 게임         6.0
7          카지노        47.0

In [37]:
#모바일게임하는 10대여자
mobile_f1 = fm10[fm10['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_f1_num = len(mobile_f1)
print(mobile_f1_num)

#게임 카테고리 별 경험 비율
mobile_f1_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_f1[cat]))/mobile_f1_num*100), '%')
    mobile_f1_df[cat] = round(sum(list(mobile_f1[cat]))/mobile_f1_num, 2)*100

genre = list(mobile_f1_df.keys())
f1 = list(mobile_f1_df.values())
f1_mobile = pd.DataFrame({'mobile_genre': genre, 'fm_10_percent':f1})
f1_mobile['mobile_genre'] = mobile_name
f1_mobile

8 8
3125
K0034 : 17 %
K_action : 8 %
K0037 : 4 %
K0038 : 16 %
K0039 : 53 %
K0040 : 38 %
K0041 : 43 %
K0042 : 7 %

  mobile_genre  fm_10_percent
0         롤플레잉           17.0
1           액션            8.0
2          스포츠            4.0
3         전략시뮬           16.0
4        퍼즐/보드           53.0
5         아케이드           38.0
6       캐주얼 게임           43.0
7          카지노            7.0

In [38]:
#모바일게임하는 10대남자
mobile_m1 = m10[m10['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_m1_num = len(mobile_m1)
print(mobile_m1_num)

#게임 카테고리 별 경험 비율
mobile_m1_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_m1[cat]))/mobile_m1_num*100), '%')
    mobile_m1_df[cat] = round(sum(list(mobile_m1[cat]))/mobile_m1_num, 2)*100

genre = list(mobile_m1_df.keys())
m1 = list(mobile_m1_df.values())
m1_mobile = pd.DataFrame({'mobile_genre': genre, 'm_10_percent':m1})
m1_mobile['mobile_genre'] = mobile_name
m1_mobile

8 8
2810
K0034 : 32 %
K_action : 28 %
K0037 : 33 %
K0038 : 43 %
K0039 : 42 %
K0040 : 31 %
K0041 : 15 %
K0042 : 10 %

  mobile_genre  m_10_percent
0         롤플레잉          32.0
1           액션          28.0
2          스포츠          33.0
3         전략시뮬          43.0
4        퍼즐/보드          42.0
5         아케이드          31.0
6       캐주얼 게임          15.0
7          카지노          10.0

In [39]:
#모바일게임하는 20대여자
mobile_f2 = fm20[fm20['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_f2_num = len(mobile_f2)
print(mobile_f2_num)

#게임 카테고리 별 경험 비율
mobile_f2_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_f2[cat]))/mobile_f2_num*100), '%')
    mobile_f2_df[cat] = round(sum(list(mobile_f2[cat]))/mobile_f2_num, 2)*100

genre = list(mobile_f2_df.keys())
f2 = list(mobile_f2_df.values())
f2_mobile = pd.DataFrame({'mobile_genre': genre, 'fm_20_percent':f2})
f2_mobile['mobile_genre'] = mobile_name
f2_mobile

8 8
18548
K0034 : 21 %
K_action : 6 %
K0037 : 4 %
K0038 : 13 %
K0039 : 64 %
K0040 : 32 %
K0041 : 38 %
K0042 : 15 %

  mobile_genre  fm_20_percent
0         롤플레잉           21.0
1           액션            6.0
2          스포츠            4.0
3         전략시뮬           13.0
4        퍼즐/보드           64.0
5         아케이드           32.0
6       캐주얼 게임           38.0
7          카지노           15.0

In [40]:
#모바일게임하는 20대남자
mobile_m2 = m20[m20['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_m2_num = len(mobile_m2)
print(mobile_m2_num)

#게임 카테고리 별 경험 비율
mobile_m2_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_m2[cat]))/mobile_m2_num*100), '%')
    mobile_m2_df[cat] = round(sum(list(mobile_m2[cat]))/mobile_m2_num, 2)*100

genre = list(mobile_m2_df.keys())
m2 = list(mobile_m2_df.values())
m2_mobile = pd.DataFrame({'mobile_genre': genre, 'm_20_percent':m2})
m2_mobile['mobile_genre'] = mobile_name
m2_mobile

8 8
8234
K0034 : 44 %
K_action : 17 %
K0037 : 26 %
K0038 : 30 %
K0039 : 41 %
K0040 : 22 %
K0041 : 16 %
K0042 : 15 %

  mobile_genre  m_20_percent
0         롤플레잉          44.0
1           액션          17.0
2          스포츠          26.0
3         전략시뮬          30.0
4        퍼즐/보드          41.0
5         아케이드          22.0
6       캐주얼 게임          16.0
7          카지노          15.0

In [41]:
#모바일게임하는 30대여자
mobile_f3 = fm30[fm30['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_f3_num = len(mobile_f3)
print(mobile_f3_num)

#게임 카테고리 별 경험 비율
mobile_f3_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_f3[cat]))/mobile_f3_num*100), '%')
    mobile_f3_df[cat] = round(sum(list(mobile_f3[cat]))/mobile_f3_num, 2)*100

genre = list(mobile_f3_df.keys())
f3 = list(mobile_f3_df.values())
f3_mobile = pd.DataFrame({'mobile_genre': genre, 'fm_30_percent':f3})
f3_mobile['mobile_genre'] = mobile_name
f3_mobile

8 8
12822
K0034 : 19 %
K_action : 3 %
K0037 : 3 %
K0038 : 9 %
K0039 : 68 %
K0040 : 18 %
K0041 : 26 %
K0042 : 18 %

  mobile_genre  fm_30_percent
0         롤플레잉           19.0
1           액션            3.0
2          스포츠            3.0
3         전략시뮬            9.0
4        퍼즐/보드           68.0
5         아케이드           18.0
6       캐주얼 게임           26.0
7          카지노           18.0

In [42]:
#모바일게임하는 30대남자
mobile_m3 = m30[m30['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_m3_num = len(mobile_m3)
print(mobile_m3_num)

#게임 카테고리 별 경험 비율
mobile_m3_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_m3[cat]))/mobile_m3_num*100), '%')
    mobile_m3_df[cat] = round(sum(list(mobile_m3[cat]))/mobile_m3_num, 2)*100

genre = list(mobile_m3_df.keys())
m3 = list(mobile_m3_df.values())
m3_mobile = pd.DataFrame({'mobile_genre': genre, 'm_30_percent':m3})
m3_mobile['mobile_genre'] = mobile_name
m3_mobile

8 8
8813
K0034 : 51 %
K_action : 14 %
K0037 : 30 %
K0038 : 29 %
K0039 : 41 %
K0040 : 20 %
K0041 : 12 %
K0042 : 20 %

  mobile_genre  m_30_percent
0         롤플레잉          51.0
1           액션          14.0
2          스포츠          30.0
3         전략시뮬          29.0
4        퍼즐/보드          41.0
5         아케이드          20.0
6       캐주얼 게임          12.0
7          카지노          20.0

In [43]:
#모바일게임하는 40대여자
mobile_f4 = fm40[fm40['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_f4_num = len(mobile_f4)
print(mobile_f4_num)

#게임 카테고리 별 경험 비율
mobile_f4_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_f4[cat]))/mobile_f4_num*100), '%')
    mobile_f4_df[cat] = round(sum(list(mobile_f4[cat]))/mobile_f4_num, 2)*100

genre = list(mobile_f4_df.keys())
f4 = list(mobile_f4_df.values())
f4_mobile = pd.DataFrame({'mobile_genre': genre, 'fm_40_percent':f4})
f4_mobile['mobile_genre'] = mobile_name
f4_mobile

8 8
4452
K0034 : 9 %
K_action : 3 %
K0037 : 3 %
K0038 : 6 %
K0039 : 67 %
K0040 : 13 %
K0041 : 11 %
K0042 : 23 %

  mobile_genre  fm_40_percent
0         롤플레잉            9.0
1           액션            3.0
2          스포츠            3.0
3         전략시뮬            6.0
4        퍼즐/보드           67.0
5         아케이드           13.0
6       캐주얼 게임           11.0
7          카지노           23.0

In [44]:
#모바일게임하는 40대남자
mobile_m4 = m40[m40['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_m4_num = len(mobile_m4)
print(mobile_m4_num)

#게임 카테고리 별 경험 비율
mobile_m4_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_m4[cat]))/mobile_m4_num*100), '%')
    mobile_m4_df[cat] = round(sum(list(mobile_m4[cat]))/mobile_m4_num, 2)*100

genre = list(mobile_m4_df.keys())
m4 = list(mobile_m4_df.values())
m4_mobile = pd.DataFrame({'mobile_genre': genre, 'm_40_percent':m4})
m4_mobile['mobile_genre'] = mobile_name
m4_mobile

8 8
5517
K0034 : 33 %
K_action : 6 %
K0037 : 21 %
K0038 : 26 %
K0039 : 40 %
K0040 : 14 %
K0041 : 6 %
K0042 : 28 %

  mobile_genre  m_40_percent
0         롤플레잉          33.0
1           액션           6.0
2          스포츠          21.0
3         전략시뮬          26.0
4        퍼즐/보드          40.0
5         아케이드          14.0
6       캐주얼 게임           6.0
7          카지노          28.0

In [45]:
#모바일게임하는 50대여자
mobile_f5 = fm50[fm50['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_f5_num = len(mobile_f5)
print(mobile_f5_num)

#게임 카테고리 별 경험 비율
mobile_f5_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_f5[cat]))/mobile_f5_num*100), '%')
    mobile_f5_df[cat] = round(sum(list(mobile_f5[cat]))/mobile_f5_num, 2)*100

genre = list(mobile_f5_df.keys())
f5 = list(mobile_f5_df.values())
f5_mobile = pd.DataFrame({'mobile_genre': genre, 'fm_50_percent':f5})
f5_mobile['mobile_genre'] = mobile_name
f5_mobile

8 8
1046
K0034 : 4 %
K_action : 2 %
K0037 : 3 %
K0038 : 3 %
K0039 : 59 %
K0040 : 9 %
K0041 : 8 %
K0042 : 31 %

  mobile_genre  fm_50_percent
0         롤플레잉            4.0
1           액션            2.0
2          스포츠            3.0
3         전략시뮬            3.0
4        퍼즐/보드           59.0
5         아케이드            9.0
6       캐주얼 게임            8.0
7          카지노           31.0

In [46]:
#모바일게임하는 50대남자
mobile_m5 = m50[m50['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_m5_num = len(mobile_m5)
print(mobile_m5_num)

#게임 카테고리 별 경험 비율
mobile_m5_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_m5[cat]))/mobile_m5_num*100), '%')
    mobile_m5_df[cat] = round(sum(list(mobile_m5[cat]))/mobile_m5_num, 2)*100

genre = list(mobile_m5_df.keys())
m5 = list(mobile_m5_df.values())
m5_mobile = pd.DataFrame({'mobile_genre': genre, 'm_50_percent':m5})
m5_mobile['mobile_genre'] = mobile_name
m5_mobile

8 8
1160
K0034 : 16 %
K_action : 4 %
K0037 : 15 %
K0038 : 13 %
K0039 : 39 %
K0040 : 9 %
K0041 : 4 %
K0042 : 43 %

  mobile_genre  m_50_percent
0         롤플레잉          16.0
1           액션           4.0
2          스포츠          15.0
3         전략시뮬          13.0
4        퍼즐/보드          39.0
5         아케이드           9.0
6       캐주얼 게임           4.0
7          카지노          43.0

In [47]:
#모바일게임하는 60대여자
mobile_f6 = fm60[fm60['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_f6_num = len(mobile_f6)
print(mobile_f6_num)

#게임 카테고리 별 경험 비율
mobile_f6_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_f6[cat]))/mobile_f6_num*100), '%')
    mobile_f6_df[cat] = round(sum(list(mobile_f6[cat]))/mobile_f6_num, 2)*100

genre = list(mobile_f6_df.keys())
f6 = list(mobile_f6_df.values())
f6_mobile = pd.DataFrame({'mobile_genre': genre, 'fm_60_percent':f6})
f6_mobile['mobile_genre'] = mobile_name
f6_mobile

8 8
154
K0034 : 8 %
K_action : 5 %
K0037 : 8 %
K0038 : 5 %
K0039 : 58 %
K0040 : 8 %
K0041 : 12 %
K0042 : 34 %

  mobile_genre  fm_60_percent
0         롤플레잉            8.0
1           액션            5.0
2          스포츠            8.0
3         전략시뮬            5.0
4        퍼즐/보드           58.0
5         아케이드            8.0
6       캐주얼 게임           12.0
7          카지노           34.0

In [48]:
#모바일게임하는 60대남자
mobile_m6 = m60[m60['K0002']==1]
mobile_cat = ['K0034', 'K_action', 'K0037', 'K0038', 'K0039', 'K0040', 'K0041', 'K0042']
mobile_name = ['롤플레잉','액션', '스포츠', '전략시뮬', '퍼즐/보드', '아케이드', '캐주얼 게임', '카지노']
print(len(mobile_cat), len(mobile_name))
mobile_m6_num = len(mobile_m6)
print(mobile_m6_num)

#게임 카테고리 별 경험 비율
mobile_m6_df = {}
for cat in mobile_cat:
    print(cat, ':', round(sum(list(mobile_m6[cat]))/mobile_m6_num*100), '%')
    mobile_m6_df[cat] = round(sum(list(mobile_m6[cat]))/mobile_m6_num, 2)*100

genre = list(mobile_m6_df.keys())
m6 = list(mobile_m6_df.values())
m6_mobile = pd.DataFrame({'mobile_genre': genre, 'm_60_percent':m6})
m6_mobile['mobile_genre'] = mobile_name
m6_mobile

8 8
209
K0034 : 10 %
K_action : 3 %
K0037 : 15 %
K0038 : 8 %
K0039 : 32 %
K0040 : 5 %
K0041 : 2 %
K0042 : 57 %

  mobile_genre  m_60_percent
0         롤플레잉          10.0
1           액션           3.0
2          스포츠          15.0
3         전략시뮬           8.0
4        퍼즐/보드          32.0
5         아케이드           5.0
6       캐주얼 게임           2.0
7          카지노          57.0

In [49]:
mobile_percentage = pd.merge(fm_mobile, m_mobile)
mobile_percentage = pd.merge(mobile_percentage, tn_mobile)
mobile_percentage = pd.merge(mobile_percentage, tw_mobile)
mobile_percentage = pd.merge(mobile_percentage, th_mobile)
mobile_percentage = pd.merge(mobile_percentage, fo_mobile)
mobile_percentage = pd.merge(mobile_percentage, fi_mobile)
mobile_percentage = pd.merge(mobile_percentage, si_mobile)
mobile_percentage = pd.merge(mobile_percentage, f1_mobile)
mobile_percentage = pd.merge(mobile_percentage, m1_mobile)
mobile_percentage = pd.merge(mobile_percentage, f2_mobile)
mobile_percentage = pd.merge(mobile_percentage, m2_mobile)
mobile_percentage = pd.merge(mobile_percentage, f3_mobile)
mobile_percentage = pd.merge(mobile_percentage, m3_mobile)
mobile_percentage = pd.merge(mobile_percentage, f4_mobile)
mobile_percentage = pd.merge(mobile_percentage, m4_mobile)
mobile_percentage = pd.merge(mobile_percentage, f5_mobile)
mobile_percentage = pd.merge(mobile_percentage, m5_mobile)
mobile_percentage = pd.merge(mobile_percentage, f6_mobile)
mobile_percentage = pd.merge(mobile_percentage, m6_mobile)
mobile_percentage

,mobile_genre,female_percent,male_percent,10_percent,20_percent,30_percent,40_percent,50_percent,60_percent,fm_10_percent,...,fm_20_percent,m_20_percent,fm_30_percent,m_30_percent,fm_40_percent,m_40_percent,fm_50_percent,m_50_percent,fm_60_percent,m_60_percent
0,롤플레잉,18.0,41.0,24.0,28.0,32.0,22.0,10.0,9.0,17.0,...,21.0,44.0,19.0,51.0,9.0,33.0,4.0,16.0,8.0,10.0
1,액션,5.0,14.0,17.0,9.0,7.0,5.0,3.0,4.0,8.0,...,6.0,17.0,3.0,14.0,3.0,6.0,2.0,4.0,5.0,3.0
2,스포츠,4.0,26.0,17.0,11.0,14.0,13.0,9.0,12.0,4.0,...,4.0,26.0,3.0,30.0,3.0,21.0,3.0,15.0,8.0,15.0
3,전략시뮬,11.0,29.0,29.0,18.0,17.0,17.0,8.0,7.0,16.0,...,13.0,30.0,9.0,29.0,6.0,26.0,3.0,13.0,5.0,8.0
4,퍼즐/보드,65.0,41.0,48.0,57.0,57.0,52.0,49.0,43.0,53.0,...,64.0,41.0,68.0,41.0,67.0,40.0,59.0,39.0,58.0,32.0
5,아케이드,25.0,20.0,35.0,29.0,19.0,14.0,9.0,6.0,38.0,...,32.0,22.0,18.0,20.0,13.0,14.0,9.0,9.0,8.0,5.0
6,캐주얼 게임,31.0,12.0,30.0,31.0,20.0,8.0,6.0,6.0,43.0,...,38.0,16.0,26.0,12.0,11.0,6.0,8.0,4.0,12.0,2.0
7,카지노,17.0,20.0,9.0,15.0,19.0,26.0,37.0,47.0,7.0,...,15.0,15.0,18.0,20.0,23.0,28.0,31.0,43.0,34.0,57.0

In [50]:
mobile_percentage.to_csv('mobile_percent.csv', index=False)

In [51]:
mobile_percent = pd.read_csv('mobile_percent.csv')

In [6]:
mobile_percent = mobile_percent.drop([9,10],0)
mobile_percent

,mobile_genre,female_percent,male_percent,10_percent,20_percent,30_percent,40_percent,50_percent,60_percent,fm_10_percent,...,fm_20_percent,m_20_percent,fm_30_percent,m_30_percent,fm_40_percent,m_40_percent,fm_50_percent,m_50_percent,fm_60_percent,m_60_percent
0,RPG/MMORPG,18.0,41.0,24.0,28.0,32.0,22.0,10.0,9.0,17.0,...,21.0,44.0,19.0,51.0,9.0,33.0,4.0,16.0,8.0,10.0
1,MOBA/RTS/AOS,5.0,14.0,17.0,9.0,7.0,5.0,3.0,4.0,8.0,...,6.0,17.0,3.0,14.0,3.0,6.0,2.0,4.0,5.0,3.0
2,슈팅/FPS/AOS,7.0,21.0,26.0,13.0,11.0,11.0,6.0,5.0,19.0,...,9.0,22.0,4.0,21.0,3.0,17.0,3.0,10.0,5.0,6.0
3,스포츠,4.0,26.0,17.0,11.0,14.0,13.0,9.0,12.0,4.0,...,4.0,26.0,3.0,30.0,3.0,21.0,3.0,15.0,8.0,15.0
4,전략시뮬,11.0,29.0,29.0,18.0,17.0,17.0,8.0,7.0,16.0,...,13.0,30.0,9.0,29.0,6.0,26.0,3.0,13.0,5.0,8.0
5,퍼즐/보드,65.0,41.0,48.0,57.0,57.0,52.0,49.0,43.0,53.0,...,64.0,41.0,68.0,41.0,67.0,40.0,59.0,39.0,58.0,32.0
6,러닝/레이싱,25.0,20.0,35.0,29.0,19.0,14.0,9.0,6.0,38.0,...,32.0,22.0,18.0,20.0,13.0,14.0,9.0,9.0,8.0,5.0
7,캐쥬얼/경영,31.0,12.0,30.0,31.0,20.0,8.0,6.0,6.0,43.0,...,38.0,16.0,26.0,12.0,11.0,6.0,8.0,4.0,12.0,2.0
8,카드/고스톱/포커/카지노,17.0,20.0,9.0,15.0,19.0,26.0,37.0,47.0,7.0,...,15.0,15.0,18.0,20.0,23.0,28.0,31.0,43.0,34.0,57.0

In [ ]:
# RPG/MMORPG: 롤플레잉
# MOBA/RTS/AOD: 액션
# 슈팅/FPS/TPS: 액션
# 스포츠: 스포츠
# 전략시뮬: 전략 or 시뮬레이션
# 퍼즐/보드: 퍼즐 or 보드
# 러닝/레이싱: 아케이드
# 캐주얼/경영: 캐주얼 게임
# 카드/고스톱/포커/카지노: 카지노
# AR: 맞는 카테고리 없음 (포켓몬고같은게 크롤링된 순위에 안들어서 그런듯...?)
# VR: 맞는 카테고리 없음